

<br/>
<br/>
<div class = "col-md-4">
    <video controls poster="images/mosalive.png">
    <source src="http://radio.mosaiquefm.net:8000/mosalive">
        </source>
    </video>

</div>




<div class = "col-md-4">
    <video controls poster="images/ifm2.png">
    <source src="http://5.135.138.182:8000/direct">
        </source>
    </video>

</div>



<div class = "col-md-4">
    <video controls poster="images/jfm2.jpg">
    <source src="http://streaming2.toutech.net:8000/jawharafm">
        </source>
    </video>

</div>